<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<form id="altaActividad" name="altaActividad" method="post" action="/altaActividad">

  <label for="nombre">Nombre de la Actividad</label>
  <input name="nombre" type="text" />
  <label for="descripcion">Descripcion</label>
  <input name="descripcion" type="text" />

  <input class="btn" type="submit" value="Registrar" />
</form>

</body>
</html>