<!DOCTYPE html>
<html>
<head>
	<title>Passport with Sequelize</title>
</head>
<body>
<h2>Fussion Fitness Gym</h2>
<h5>Bienvenido! Usted se ha logueado correctamente!</h5>
<div>
    <a href="http://localhost:9999/altaActividad">Cargar Actividad</a>
</div>

</body>
</html>