<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form id="signin" name="signin" method="post" action="signin">
  <label for="email">Email</label>
  <input class="text" name="email" type="text" />
  <label for="password">Contraseña</label>
  <input name="password" type="password" />
  <input class="btn" type="submit" value="Ingresar" />
</form>

</body>
</html>